<h1>Ton résultat est le suivant :</h1>
<h1>Ton mot est le suivant : <%= @user_mot %></h1>
<p>Pour rappel, la liste de lettres est la suivante : <%= @array_of_ten_letters_random1 %></p>
<p> Est-ce que ton mot contient toutes les lettres ? <%= @result %> </p>
<p> Est-ce que ton mot est bien un mot anglais ? <%= @result_API_exist %> </p>
<p> Longueur de ton mot ? <%= @result_API_longueur_mot %></p>
<p> Est-ce que ton mot est bien un mot anglais et est st-ce que ton mot est bien un mot anglais ? <%= @result %> </p>
<p> Ton score est : <%= @result_API_longueur_mot %></p>
<a href="new">Play again</a>
